body {
    background-color: goldenrod;
    margin: 0;
}

#calculator {
    background-color: grey;
    border-radius: 25px;
    border: 4px solid black;

    max-height: 700px;
    width: 500px;
    margin: 40px auto;
    padding: 25px;

    display: block;
    gap: 5px;
}

#res {
    background-color: lightgoldenrodyellow;
    border: 4px solid black;
    
    margin: 0px 0px 25px 0px;
    padding: 50px 15px 15px 15px;

    font-size: 3em;
    text-align: end;
}

#buttons{

    display: grid;
    grid-template-areas: 
        "ac c per div"
        "7 8 9 plus"
        "4 5 6 sub"
        "1 2 3 mult"
        "0 . eq eq";
    grid-template-columns: repeat(4,1fr);
}

.operator {
    height: ;
    width: 1fr;
    

}

#allClear {
    grid-area:;
}